snippet ns
	using namespace ${1};
		${2}
	end;

snippet re
	reduce with
		${1}
	end;

snippet io
	${1} = ${2} if ${3};
	     = ${4} otherwise;

snippet sep
	/* 
	  ----------------
	  ${1}
	  ---------------- 
	*/
